<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyle.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="your-app-core.css">
    <link rel="stylesheet" type="text/css" media="print" href="your-app-core-print.css">

    <style>
        .navbar-right{float:right !important;
                      margin-right:15px;
                      margin-left:15px;
        }
    </style>
</head>
<body>
    
    <div class="navbar navbar-inverse" role="navigation">
       
        <input type="button" value="Print Document" onclick="window.print()" class="btn btn-primary" />
        
        <a class="navbar-brand" href="#">
        <style class="hidden-xs">Book Store</style>
            <div class="visible-xs"> Book</div>
            <div class="visible-xs">Store </div>
        </a>
        @Html.Action("Summary", "Cart");
    </div>

    <div class="visible-xs">
        @Html.Action("Menu","Nav",new { mobileLayout=true})
    </div>
    <div class="row panel">
        <div id="specialization" class="col-xs-3 hidden-xs" >
            @Html.Action("Menu", "Nav");
         </div>
        <div class="col-xs-12 col-sm-8">
            @RenderBody()

        </div>
     </div>
    

    
</body>
</html>