@model BookStore.Domain.Entities.Book

<style>
    #aa {
        height:130px;
    }
</style>
<div class="well" id="aa" >

    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right:10px">
            <img class="img-circle" width="100" height="100"
                 src="@Url.Action("GetImage","Book",new { Model.ISBN})" />
        </div>

    }
    <h3>
        <strong>@Model.Title</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
    <div class="pull-right">
        @Html.HiddenFor(b => b.ISBN)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="Add to Cart">
    </div>
    }
</div>